@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
@mixin box-shadow($size: 1.5rem 4rem, $color: $color-black, $opacity: 0.15) {
	box-shadow: 0 $size rgba($color, $opacity);
}
//media query manager
/*
0-600 phone
600-900 tabb-port
900-1200 tab-land
1200-1800 our normal style
1800 big-desktop
*/

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			//600px
			@content;
		}
	}
	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			//900px
			@content;
		}
	}
	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75em) {
			//1200px
			@content;
		}
	}
	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 112.5em) {
			//1800px
			@content;
		}
	}
}
