@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes logoAnimation {
	0% {
		height: 3.5rem;
	}
	50% {
		height: 3.5rem;
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(0deg);
		height: 3.5rem;
	}
}
